parameters:
    level: 5
    paths:
        - app
        - config
        - public
    excludePaths:
        - vendor
        - database
        - public/css
        - public/js
        - public/img
        - app/views
    
    # Ignorar errores comunes en código legacy
    ignoreErrors:
        - '#Call to an undefined method PDO::#'
        - '#Access to an undefined property PDO::#'
        - '#Variable \$_SESSION#'
        - '#Variable \$_POST#'
        - '#Variable \$_GET#'
        - '#Variable \$_FILES#'
        - '#Variable \$_SERVER#'
    
    # Configuración adicional
    reportUnmatchedIgnoredErrors: false
    
    # Bootstrap para autoload de Composer
    bootstrapFiles:
        - vendor/autoload.php
